* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
    background: #fff;
    color: #333;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
}   

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c5c2e;
  padding: 15px 40px;
  color: white;
}

.nav-fitur {
  list-style: none;
  display: flex;
  gap: 130px;
}

.nav-fitur li a {
  text-decoration: none;
  color: white;
}

.nav-fitur li a:hover {
  font-weight: bold;
  padding-bottom: 2px;
}

.tombol-history {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background: transparent;
}

.container {
    width: 500px;
    margin-left: 450px;
    background: white;
    border-radius: 15px;
    padding: 40px 30px;
    margin-top: 100px;
    text-align: center;
    transform: scale(1.3)
}

.checkmark {
    font-size: 64px;
    color: #2f7a48;
    margin-bottom: 30px;
}

h1 {
    margin: 0 0 10px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    margin: 0 0 30px;
    text-align: center;
}

a.button-homepage {
    text-decoration: none;
    background: #2f7a48;
    color: white;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    transition: background 0.3s;
}

a.button-homepage:hover {
    background: #225c31;
}


