
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2d6a4f;
  padding: 15px 40px;
  color: white;
}


header {
  margin-bottom: 30px; 
}


.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
}

.nav-fitur {
  list-style: none;
  display: flex;
  gap: 150px;
}

.nav-fitur li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.tombol-history {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background: transparent;
}


.judul {
  margin: 20px 40px;
}

.keterangan {
  margin: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 350px;
}

.keterangan-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 1390px;
  font-weight: bold;
  position: relative;
  left: 30px;
  top: 5px;
  height: 20px;
}

.keterangan-headerr p{
  position: relative;
  left: 30px;
  bottom: 16px;
}
.card-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
}

.card-item:last-child {
  border-bottom: none;
}

.lapangan {
  display: flex;
  gap: 15px;
}

.lapangan img {
  width: 120px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
  left: 20px;
  top: 20px;
}

.lapangan2 img {
  width: 120px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
  left: 20px;
  bottom: 90px;
}
.lapangan-info h3{
  position: relative;
  left: 20px;
}

.lapangan-info2 h3{
  position: relative;
  left: 157px;
  bottom:210px;
}
.lapangan-info2 p {
  position: relative;
  left: 185px;
  bottom: 210px;
}

.lapangan-info p {
  position: relative;
  left: 50px;
}

.metode{
  position: relative;
  left: 80px;
}
.gambartgl img{
  width: 40px;
  position: relative;
  left: 160px;
  bottom: 96px;
}
.gambarwkt img{
  width: 25px;
  position: relative;
  left: 167px;
  bottom: 99px;
}
.gambarbca img{
  width: 30px;
  position: relative;
  bottom: 165px;
  left: 620px;
  border: 1px solid black;
  border-radius: 5px;
}
.harga{
  position: relative;
  left: 30px;
}

.status.success {
  color: green;
  font-weight: bold;
  position: relative;
  left: 25px;
}

.gambartgl2 img{
  width: 40px;
  position: relative;
  left: 200px;
  bottom: 116px;
}
.gambarwkt2 img{
  width: 25px;
  position: relative;
  left: 206px;
  bottom: 118px;
}
.gambarbca2 img{
  width: 30px;
  position: relative;
  bottom: 178px;
  left: 662px;
  border: 1px solid black;
  border-radius: 5px;
}

.metode2{
  position: relative;
  left: 81px;
  bottom: 153px;
}
.harga2{
  position: relative;
  left: 30px;
  bottom: 153px;
}

.status.waiting2 {
  color: orange;
  font-weight: bold;
  position: relative;
  left: 25px;
  bottom: 153px;
}

footer {
  background: #2d6a4f;
  color: white;
  padding: 30px 40px;
  margin-top: 50px;
  height: 210px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

.footer-box h3, .footer-box h4 {
  margin-bottom: 15px;
}
.Email{
  position: relative;
  bottom: 6px;
}
.Telpon{
  position:relative;
  bottom: 10px
}


.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.lokasi {
  border: 1px solid white;
  height: 120px;
}
